
<section class="section section_commits">
    <div class="container">
        <div class="commits">
            <div class="section__title commits__title" data-aos="fade-up">Отзывы:</div>
            <div class="commits__box owl-carousel js-commits__box">
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-1.png" alt=""></div>
                    <div class="commits__name">Anna Anselm, <mark>42 года</mark></div>
                    <div class="commits__description">
                        Не думала, что когда-нибудь это коснется и меня тоже. В прошлом году появились боли в животе, мучилась с постоянным вздутием. После долгого обследования выяснилось, что виноваты во всем паразиты. Я так благодарна грамотному доктору, который сразу назначил мне BACTEOFF. Все неприятные симптомы ушли сразу же. После курса лечения сдала все анализы и убедилась, что мой организм полностью чист. BACTEOFF – лучшее средство для избавления от паразитов! 
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-2.png" alt=""></div>
                    <div class="commits__name">David Seifert, <mark>63 года</mark></div>
                    <div class="commits__description">
                        Я 4 месяца вел борьбу с гельминтами. Принимал разные лекарства, а затем мучился от их побочных эффектов: головокружение, бессонница, учащенное сердцебиение и т. д. Но самое главное – не было результата лечения, моя проблема оставалась со мной. Все изменилось с тех пор, как моя дочь прочитала в интернете статью о препарате BACTEOFF и заказала его для меня. Могу с уверенностью сказать, что это очень эффективное и натуральное средство. Благодаря ему, я полностью здоров и чувствую себя отлично.
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
                <div class="commits__item">
                    <div class="commits__face"><img src="../media/commits/face-3.png" alt=""></div>
                    <div class="commits__name">Janine Hudson, <mark>49 лет</mark></div>
                    <div class="commits__description">
                        Я была в ужасе, когда по возвращению из отпуска я обратилась к врачу с жалобами на плохое самочувствие, и он поставил диагноз – анкилостомоз. Это паразитарная инвазия, возбудитель которой – круглые черви из рода Ancylostoma. К счастью, BACTEOFF справился с этой проблемой оперативно. Теперь принимаю раз в полгода этот препарат для профилактики. Жалею, что не знала о нем раньше. Всем советую!
                    </div>
                    <div class="commits__star">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                        <img src="../media/commits/star.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
