
<section class="section section_eags">
    <div class="container">
        <div class="eags">
            <div class="eags__box">
                <div class="eags__item">
                    <div class="eags__item-title">Универсальная растительная формула</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Эффективна против ленточных, круглых, плоских</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Уничтожает паразитов на всех жизненных циклах развития</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Снижает интоксикацию во время выведения продуктов распада</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Восстанавливает микрофлору и стабилизирует кровообращение</div>
                </div>
                <div class="eags__item">
                    <div class="eags__item-title">Усиливает иммунитет, устраняя риск повторных заражений</div>
                </div>
            </div>
            <div class="eags__footer">
                <mark>В организме человека одновременно могут соседствовать разные виды паразитов.</mark> По данным ВОЗ, ежегодно каждый второй человек заражается одним из видов гельминтов.
            </div>
        </div>
    </div>
</section>
