
<section class="section section_face">
    <div class="container">
        <div class="face">
            <div class="face__box">
                <div class="face__logo">Bacteoff</div>
                <div class="section__title face__title" data-aos="fade-up">Ваша защита от <mark>всех видов паразитов</mark></div>
                <div class="face__product">
                    <img src="../media/product.png" alt="Detonic">
                </div>
                <div class="face__list">
                    <div class="face__check" data-aos="fade-right">выведение <mark>паразитов</mark> </div>
                    <div class="face__check" data-aos="fade-right">полная <mark>детоксикация</mark></div>
                    <div class="face__check" data-aos="fade-right">восстановление <mark>микрофлоры</mark></div>
                    <div class="face__check" data-aos="fade-right">усиление <mark>иммунитета</mark></div>
                </div>
            </div>
            <div class="face__box">
                <%- include('form') %>
            </div>
        </div>
    </div>
</section>
