
<section class="section section_pain">
    <div class="container">
        <div class="pain">
            <div class="pain__box">
                <div class="pain__row">
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-1.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">демодекоз, миазы, онхоцеркоз, телязиоз, цистицеркоз.</div>
                                <div class="pain__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac convallis enim, vitae pretium sem.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-line pain__pulse-line_active"></div>
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-2.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">тромбидиаз, фтириаз, хемиптероз, чесотка</div>
                                <div class="pain__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac convallis enim, vitae pretium sem.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                            <div class="pain__pulse-line"></div>
                        </div>
                    </div>
                </div>
                <div class="pain__row">
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-3.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">демодекоз, миазы, онхоцеркоз, телязиоз, цистицеркоз.</div>
                                <div class="pain__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac convallis enim, vitae pretium sem.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-line"></div>
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-4.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">дирофиляриоз, эхинококкоз</div>
                                <div class="pain__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac convallis enim, vitae pretium sem.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                            <div class="pain__pulse-line"></div>
                        </div>
                    </div>
                </div>
                <div class="pain__row">
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-5.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">клонорхоз, описторхоз, фасциолёз, эхинококкоз</div>
                                <div class="pain__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac convallis enim, vitae pretium sem.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-line"></div>
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-6.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">уринарный миаз, альвеококкоз, эхинококкоз</div>
                                <div class="pain__item-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac convallis enim, vitae pretium sem.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                            <div class="pain__pulse-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
