
<section class="section section_pain">
    <div class="container">
        <div class="pain">
            <div class="pain__box">
                <div class="pain__row">
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-1.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Глаза:</div>
                                <div class="pain__item-description">демодекоз, миазы, онхоцеркоз, телязиоз, цистицеркоз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-line pain__pulse-line_active"></div>
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-2.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Головной мозг:</div>
                                <div class="pain__item-description">альвеококкоз, цистицеркоз, эхинококкоз, токсоплазмоз, первичный амебный менингоэнцефалит.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                            <div class="pain__pulse-line"></div>
                        </div>
                    </div>
                </div>
                <div class="pain__row">
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-3.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Кожа:</div>
                                <div class="pain__item-description">чесотка, крысиный клещевой дерматит, педикулёз, пуликоз, саркопсиллёз, тромбидиаз, фтириаз, хемиптероз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-line"></div>
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-4.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Сердце:</div>
                                <div class="pain__item-description">дирофиляриоз, эхинококкоз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                            <div class="pain__pulse-line"></div>
                        </div>
                    </div>
                </div>
                <div class="pain__row">
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-5.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Желудочно-кишечный тракт и печень:</div>
                                <div class="pain__item-description">анкилостомоз, аскаридоз, кишечные миазы, лингватулидозы, метагонимоз, скарабиаз, стронгилоидоз, трихинеллез, трихостронгилоидоз, трихоцефалез, энтеробиоз, альвеококкоз, клонорхоз, описторхоз, фасциолез, эхинококкоз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-line"></div>
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="pain__item">
                        <div class="pain__head">
                            <div class="pain__item-media">
                                <img src="../media/pain/item-6.jpg" alt="">
                            </div>
                            <div class="pain__info">
                                <div class="pain__item-title">Мочевой пузырь, половые органы:</div>
                                <div class="pain__item-description">уринарный миаз, альвеококкоз, эхинококкоз.</div>
                            </div>
                        </div>
                        <div class="pain__pulse">
                            <div class="pain__pulse-media">
                                <img src="../media/pain/pulse.png" alt="">
                            </div>
                            <div class="pain__pulse-line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
