
<section class="section section_parazits">
    <div class="container">
        <div class="parazits">
            <div class="section__title parazits__title" data-aos="fade-right">Что вы представляете, когда слышите словосочетание <mark>"паразитарная инвазия"?</mark></div>
            <div class="parazits__subtitle" data-aos="fade-right">Ком мерзких червей из фильма ужасов?</div>
            <div class="parazits__description" data-aos="fade-right">Теперь представьте, что вы слышите это в кабинете врача. В результатах анализов зафиксирован факт, что у вас внутри черви-паразиты. </div>
            <div class="parazits__info">Этим объясняется:</div>
            <div class="parazits__box">
                <div class="parazits__item" data-aos="flip-right"> гастрит </div>
                <div class="parazits__item" data-aos="flip-right"> нарушения пищеварения </div>
                <div class="parazits__item" data-aos="flip-right"> ангина </div>
                <div class="parazits__item" data-aos="flip-right"> частые </div>
                <div class="parazits__item" data-aos="flip-right"> ОРЗ </div>
                <div class="parazits__item" data-aos="flip-right"> ожирение </div>
                <div class="parazits__item" data-aos="flip-right"> головные боли </div>
                <div class="parazits__item" data-aos="flip-right"> кожные проблемы </div>
                <div class="parazits__item" data-aos="flip-right"> заложенность носа </div>
                <div class="parazits__item" data-aos="flip-right"> аллергические реакции </div>
                <div class="parazits__item" data-aos="flip-right"> воспаления </div>
                <div class="parazits__item" data-aos="flip-right"> болезни суставов </div>
                <div class="parazits__item" data-aos="flip-right"> опухоли </div>
                <div class="parazits__item" data-aos="flip-right"> проблемы со сном </div>
                <div class="parazits__item" data-aos="flip-right"> синдром хронической усталости </div>
            </div>
        </div>
    </div>
</section>
