
<section class="section section_parazits">
    <div class="container">
        <div class="parazits">
            <div class="section__title parazits__title">Что вы представляете, когда слышите словосочетание <mark>"паразитарная инвазия"?</mark></div>
            <div class="parazits__subtitle">Ком мерзких червей из фильма ужасов?</div>
            <div class="parazits__description">Теперь представьте, что вы слышите это в кабинете врача. В результатах анализов зафиксирован факт, что у вас внутри черви-паразиты. </div>
            <div class="parazits__info">Этим объясняется:</div>
            <div class="parazits__box">
                <div class="parazits__item"> гастрит </div>
                <div class="parazits__item"> нарушения пищеварения </div>
                <div class="parazits__item"> ангина </div>
                <div class="parazits__item"> частые </div>
                <div class="parazits__item"> ОРЗ </div>
                <div class="parazits__item"> ожирение </div>
                <div class="parazits__item"> головные боли </div>
                <div class="parazits__item"> кожные проблемы </div>
                <div class="parazits__item"> заложенность носа </div>
                <div class="parazits__item"> аллергические реакции </div>
                <div class="parazits__item"> воспаления </div>
                <div class="parazits__item"> болезни суставов </div>
                <div class="parazits__item"> опухоли </div>
                <div class="parazits__item"> проблемы со сном </div>
                <div class="parazits__item"> синдром хронической усталости </div>
            </div>
        </div>
    </div>
</section>
