
<section class="section section_prezents">
    <div class="container">
        <div class="prezents">
            <div class="prezents__box">
                <div class="section__title prezents__title" data-aos="fade-right">ПРИРОДНАЯ ЭФФЕКТИВНОСТЬ, <mark>ДОКАЗАННАЯ НАУЧНО</mark></div>
                <div class="prezents__description">В составе Bacteoff комбинация растительных экстрактов, оказывающая на жизнедеятельность паразитов негативное действие. Помогая организму наладить процессы мочеобразования, желчеотделения и пищеварения, Bacteoff стимулирует полную детоксикацию, избавляя от всех видов паразитарных организмов.</div>
                <a href="#" class="prezents__btn">ЗАКАЗАТЬ</a>
            </div>
            <div class="prezents__media">
                <div class="prezents__product">
                    <img src="../media/product.png" alt="">
                    <a href="#" class="prezents__btn prezents__btn_768">ЗАКАЗАТЬ</a>
                </div>
            </div>
        </div>
    </div>
</section>
