
<section class="section section_problems">
    <div class="container">
        <div class="problems">
            <div class="problems__body">
                <div class="section__title problems__title" data-aos="fade-right">ЛУЧШЕЕ, ЧТО <span>МОЖНО СДЕЛАТЬ —</span> <mark>ЭТО ПРОФИЛАКТИКА</mark></div>
                <div class="problems__info" data-aos="fade-right">
                    Зачастую причина различных серьезных заболеваний внутренних органов – интоксикация организма, вызванная гельминтозом.


                    <mark>Симптомы зависят от вида паразитирующих глистов, их размера и места обитания в организме. Не редки случаи полностью отсутствующей симптоматики. Именно поэтому я рекомендую периодически проходить профилактический курс очистки от паразитов и принимать противогельминтные препараты.</mark>
                    <mark>
                        Своим пациентам на протяжении долгого времени я назначаю BACTEOFF. Их многочисленные положительные отзывы об этом средстве говорят сами за себя. BACTEOFF – эффективный, натуральный и полностью безопасный препарат. За 1 курс применения он избавляет от всех видов гельминтов даже при запущенных случаях заболеваний.
                    </mark>
                    <mark>Устранить вовремя причину – значит не тратить зря время и деньги на последствия. Поэтому я рекомендую всем, кому не безразлично свое здоровье, помочь своему организму с помощью BACTEOFF.</mark>
                </div>
                <div class="problems__name" data-aos="fade-right">
                    Симон Петру
                    <mark>Инфекционист с 8-летним стажем.</mark>
                </div>
            </div>
            <div class="problems__media"><img src="../media/problems/human.png" alt=""></div>
        </div>
    </div>
</section>
