
<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="section__title sostav__title">Состав Bacteoff</div>
            <div class="sostav__box">
                <div class="sostav__item">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-2.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Ламинария</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec velit purus. Curabitur </span>
                    </div>
                </div>
                <div class="sostav__item sostav__item_right">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-3.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Репешок</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec velit purus. Curabitur </span>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-1.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Чёрный тмин</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec velit purus. Curabitur </span>
                    </div>
                </div>
                <div class="sostav__item sostav__item_right">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-4.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Цветы пижмы</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec velit purus. Curabitur </span>
                    </div>
                </div>
                <div class="sostav__item">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-5.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Тысячелистник</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec velit purus. Curabitur </span>
                    </div>
                </div>
                <div class="sostav__item sostav__item_right">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-6.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Чеснок</span>
                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas nec velit purus. Curabitur </span>
                    </div>
                </div>
                <div class="sostav__product"><img src="../media/product.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
