
<section class="section section_sostav">
    <div class="container">
        <div class="sostav">
            <div class="section__title sostav__title" data-aos="fade-up">Состав Bacteoff</div>
            <div class="sostav__box">
                <div class="sostav__item" data-aos="fade-right">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-2.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Ламинария</span>
                        <span>Благодаря большому содержанию клетчатки, нормализуется работа пищеварительного тракта и улучшается состояние здоровья в целом. А альгинаты и органические кислоты эффективно очищают организм от вредных веществ.</span>
                    </div>
                </div>
                <div class="sostav__item sostav__item_right" data-aos="fade-left">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-3.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Репешок</span>
                        <span>Оказывает губительное действие на большинство паразитов, поражающих человека. Содержит полиненасыщенные кислоты, эфирные масла и комплекс витаминов и микроэлементов, которые положительно влияют на все органы и системы человеческого организма.</span>
                    </div>
                </div>
                <div class="sostav__item" data-aos="fade-right">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-1.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Чёрный тмин</span>
                        <span>Содержит алкалоиды, флавоноиды, дубильные вещества, которые подавляют рост и развитие паразитов, способствуют восстановлению нормальной микрофлоры кишечника, ускоряют регенерацию поврежденных слизистых оболочек и выводят продукты их жизнедеятельности.</span>
                    </div>
                </div>
                <div class="sostav__item sostav__item_right" data-aos="fade-left">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-4.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Цветы пижмы</span>
                        <span>Обладает мочегонными и желчегонными свойствами, что позволяет быстрее выводить токсины, которые выделяют паразиты во время их уничтожения.</span>
                    </div>
                </div>
                <div class="sostav__item" data-aos="fade-right">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-5.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Тысячелистник</span>
                        <span>В составе есть горечь, которая считается антагонистом паразитов, обитающих в пищеварительном тракте человека. Также содержит природный токсин – кетон туйон, который губительно действует на паразитов, парализуя их.</span>
                    </div>
                </div>
                <div class="sostav__item sostav__item_right"  data-aos="fade-left">
                    <div class="sostav__media">
                        <img src="../media/sostav/item-6.jpg" alt="">
                    </div>
                    <div class="sostav__info">
                        <span>Чеснок</span>
                        <span>Наличие горечи и смол создают невыносимую среду для жизнедеятельности паразитов. Кремний помогает выводить токсины и вредные вещества из организма. Инулин, аскорбиновая кислота, витамин B и D, жирные масла укрепляют иммунитет.</span>
                    </div>
                </div>
                <div class="sostav__product"><img src="../media/product.png" alt=""></div>
            </div>
        </div>
    </div>
</section>
