
<section class="section section_symptoms">
    <div class="container">
        <div class="symptoms">
            <div class="section__title symptoms__title">Паразитарная инфекция вызывает симптомы, напоминающие картину других заболеваниЙ.</div>
            <div class="symptoms__info">
                Многие хронические болезни имеют паразитарную природу или утяжеляются наличием паразитарной инфекции.
            </div>
        </div>
    </div>
</section>
