
.eags__box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 75px;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, .3);
}

.eags__item {
    display: flex;
    align-items: flex-end;
    width: 33.333%;
    height: 333px;
    padding: 20px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 101% 101%;
    transition: .3s;

    &:nth-child(1) {
        background-image: url('../media/eags/item-1.jpg');
    }

    &:nth-child(2) {
        background-image: url('../media/eags/item-2.jpg');
    }

    &:nth-child(3) {
        background-image: url('../media/eags/item-3.jpg');
    }

    &:nth-child(4) {
        background-image: url('../media/eags/item-4.jpg');
    }

    &:nth-child(5) {
        background-image: url('../media/eags/item-5.jpg');
    }

    &:nth-child(6) {
        background-image: url('../media/eags/item-6.jpg');
    }

    &:hover {
        background-size: 110% 110%;
    }
}

.eags__item-title {
    font-size: 21px;
    font-weight: 700;
    color: #fff;
}

.eags__footer {
    position: relative;
    padding: 20px 20px 20px 120px;
    font-size: 18px;
    color: #fff;
    background-image: url('../media/eags/bg-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    & mark {
        display: block;
        color: #e4dd1d;
    }

    &::before {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 72px;
        height: 68px;
        content: '';
        background-image: url('../media/eags/logo.png');
        background-repeat: no-repeat;
    }
}

@media (max-width: 1030px) {
    .eags__item {
        height: 245px;
    }

    .eags__item-title {
        padding: 10px;
        font-size: 16px;
        background-color: rgba(0, 0, 0, .6);
        border-radius: 3px;
    }
}

@media (max-width: 768px) {
    .eags__item {
        width: 50%;
        height: 225px;
        padding: 10px;
    }

    .eags__item-title {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .eags__box {
        justify-content: center;
        margin-bottom: 30px;
        box-shadow: none;
    }

    .eags__item {
        width: 333px;
        height: 333px;
        padding: 20px;
    }

    .eags__item-title {
        padding: 15px;
        font-size: 20px;
    }
}
