
.problems {
    position: relative;
}

.problems__media {
    position: absolute;
    right: 0;
    bottom: -60px;
}

.problems__title {
    margin-bottom: 30px;
    font-size: 45px;
    line-height: 43px;
    text-transform: uppercase;

    & span {
        display: block;
    }

    & mark {
        color: #ff7e00;
        text-decoration: underline;
    }
}

.problems__body {
    max-width: 570px;
}

.problems__info {
    margin-bottom: 30px;
    font-size: 23px;

    & mark {
        display: block;
        margin-top: 15px;
        font-size: 18px;
        line-height: 24px;
    }
}

.problems__name {
    font-size: 23px;
    font-weight: 750;
    color: #2142ae;

    & mark {
        display: block;
        font-size: 15px;
        font-style: italic;
        font-weight: 500;
        line-height: 20px;
        color: #000;
    }
}

@media (max-width: 1030px) {
    .problems__media {
        max-width: 230px;
    }

    .problems__body {
        max-width: 480px;
    }
}

@media (max-width: 768px) {
    .problems__media {
        right: 0;
        bottom: -130px;
        left: auto;
        z-index: 1;
        max-width: 100px;
        margin-left: 0;
        transform: translateX(0);
    }

    .problems__body {
        max-width: 100%;
        margin-bottom: 70px;
    }

    .problems__title {
        & span {
            display: inline;
        }
    }
}

@media (max-width: 480px) {
    .problems__title {
        font-size: 28px;
    }

    .problems__info {
        font-size: 18px;

        & mark {
            font-size: 16px;
            line-height: 1.2;
        }
    }

    .problems__body {
        margin-bottom: 70px;
    }

    .problems__name mark {
        max-width: 200px;
    }
}
